<%- include('../header') %>

    <form action="/categorias/nova" method="post">
    <div class="form-group">
        <label for="categoria">Nova Categoria</label>
        <input type="categoria" class="form-control" name="categoria" id="categoria" placeholder="Nome Categoria">
    </div>
    <button type="submit" class="btn btn-primary block">Salvar</button>
    </form>

<%- include('../footer') %>