<form action="/categorias/editar/<%= categoria.id %>" method="post">
    <input type="text" name="categoria" placeholder="Nome Categoria" value="<%= categoria.categoria %>">
    <button>Salvar</button>
</form>