<% categorias.forEach( categoria => { %>
    <%= categoria.categoria %> 
    <a href="/categorias/excluir/<%= categoria.id %>">Excluir</a>
    <a href="/categorias/editar/<%= categoria.id %>">Editar</a>
    <br /> 
<% }) %>
<br />
<a href="/categorias/nova">Nova Categoria</a>